body {
    margin: 0;
}

html,
body,
#root {
    height: 100%;
}

.react-flow__custom-node {
    background: white;
    border-radius: 2px;
    border: 1px solid transparent;
    padding: 2px 5px;
    font-weight: 700;
}